{
 "plugins": ["react"],
 "env": {
  "es6": true,
  "node": true,
  "browser": true
 },
 "extends": "plugin:react/recommended",
 "parserOptions": {
  "ecmaVersion": 6,
  "sourceType": "module",
  "ecmaFeatures": {
   "jsx": true,
   "experimentalObjectRestSpread": true,
  }
 },
 "parser": "babel-eslint"
}
